.contacts {
    right: 0;
    color: #fff;
    text-align: right;
    
}

.contacts__tel {
    color: #fff;
    display: flex;
    align-items: flex-end;
    font-size: 26px;
    line-height: 22px;
    text-decoration: none;
}

.contacts__graph {
    color: #D3A557;
    text-decoration-line: underline;
    font-size: 13px;
    line-height: 20px;
    margin-left: auto;
}

.contacts__graph:hover {
    color: #FFFFFF;
    cursor: pointer;
}

.contacts__text {
    color: #9A9A9A;
    font-size: 11px;
    line-height: 20px;
}