.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.footer-container {
    border-top: 1px solid #fff;
    min-height: 124px;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    justify-content: flex-end;
}