.header{
    padding-top: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 190px;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    flex-direction: column;
    justify-content: flex-end;
    }