.news__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
    margin-bottom: 51px;
}

.news {
    margin-bottom: 148px;
}

.news__item {
    margin-right: 2%;
    height: 394px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    flex: 1;
}

.news__item:last-child {
    margin-right: 0;
}

.news__img {
    width: 107%;
    height: 99%;
    object-fit: cover;
    opacity: 40%;
}

.news__info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    min-height: 183px;
}

.news__date {
    font-size: 13px;
    line-height: 45px;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.news__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.news__desc {
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.news__list {
    margin-bottom: 47px;
    display: flex;
    justify-content: space-between;
}