.page__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 1;
    color: #FFFFFF;
    margin-bottom: 103px;
}

.page-content {
    background: #fff;
    padding: 35px 0 119px;
}
