.separator { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 363px;
    background: #E5C288 url("../../img/phone-n-hand.png") right 22% bottom 105% no-repeat;
    color: #202123;
}

.separator__content {
    max-width: 49%;
}

.separator__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
}